a {
    background-color: transparent;
    text-decoration: none !important;
    color: #fff;
}

h1 {
    font-size: 30px !important;
    font-weight: bold;
    line-height: 1em;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
