.layout {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 65px;
    list-style: none;
    margin-left: 24px;

    &::before, &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }

    &--responsive {
        @media only screen and (min-width: 1200px) {
            margin-left: -24px;
        }

        margin-left: 12px;
    }

    &__item {
        padding-left: 24px;
        display: block;
        float: left;
    }
}
